.slider {
    position: relative;
    height: 100%;
}


.slider__left-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 45px;
    color: #1C2635;
    z-index: 1;
    cursor: pointer;
    background-color: #EEF7FB;
    border-radius: 40px;
    width: 4rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.slider__right-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 45px;
    color: #1C2635;
    z-index: 1;
    cursor: pointer;
    background-color: #EEF7FB;
    border-radius: 40px;
    width: 4rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
.slider__left-arrow:hover,.slider__right-arrow:hover{
    background-color: #d6ecf5;
}

.slider__slide {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.slider__product-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.slider__dots-container{
    display: flex;
    justify-content: center;
}


.slider__dot {
    margin: 0px 3px 20px 3px;
    cursor: pointer;
    font-size: 20px;
    color: #E3E3E3;
  
}

.slider__dot.active {
    color: #5BC1ED;
}

.slide {
    opacity: 0; 
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}